<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<div th:fragment="menu" class="col-lg-12 my-4">
		<div class="row">
				<form th:action="@{/home/search}" method="post" class="d-flex col-md-6">
					<input class="form-control me-2" style="width: 450px" type="search" placeholder="Tên sản phẩm" name="name" th:value="${name}" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
				<form th:action="@{/home/page}" method="get" class="col-md-6">
					<input type="hidden" th:value="${name}" name="name"/>
					<input type="hidden" th:value="${brand==null?-1:brand}" name="brand"/>
					<input type="hidden" th:value="${products.number}" name="page"/>
					<select name="filter" class="form-select" onchange="this.form.submit()">
						<option th:selected="${filter==0}" value="0">Mặc định</option>
						<option th:selected="${filter==1}" value="1">Mới nhất</option>
						<option th:selected="${filter==2}" value="2">Cũ nhất</option>
						<option th:selected="${filter==3}" value="3">Giá giảm dần</option>
						<option th:selected="${filter==4}" value="4">Giá tăng dần</option>
					</select>
				</form>
		</div>
	</div>
</body>

</html>
